#labs ul {
  padding: 0;
  list-style: none;
}

#labs ul li {
  background-color: lightblue;
  padding: 20px;
  margin: 20px 15px;
  display: inline-block;
  transition: transform 0.3s ease;
  /* Повернемо анімацію тут */
}

.lab-description {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: cyan;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Verdana', sans-serif;
}

#labs ul li:hover {
  transform: scale(1.1);
}

#labs ul li:hover .lab-description {
  display: block;
  transform: scale(1.1);
}

/* Додано медіа-запит для екранів шириною до 600px (типово для мобільних пристроїв) */
@media only screen and (max-width: 600px) {
  #labs ul li {
    width: calc(100% - 30px);
    margin: 20px 0;
    display: block;
  }
}